body {
	font-family: 'Exo', sans-serif;
	font-weight:400;
}
h1,h2,h3,h4,h5,h6 {
	font-family: 'Josefin Slab', serif;
	font-weight:700;
	font-size:32px;
	text-transform:uppercase;
}
p.text-muted{
    color:#eee;
}
#blog-posts {
	margin-top:6%;
}
#blog-posts .col-md-4 {
    margin-bottom:20px;
}